<head>
    <meta name="xm-bind-id-client_id" content="<%= 7f1cd6fe.c78964aa.tid_c2e66e7b.bindid.io %>">
</head>

<body>
    <h1>Hi <%= name %>!</h1>

    <script src="https://polyfill.io/v3/polyfill.min.js?features=Promise%2CPromise.prototype.finally%2CTextDecoder%2CTextEncoder%2CObject.entries"></script>
    <script src="https://signin.bindid-sandbox.io/bindid-sdk/transmit-bind-id-sdk.js" defer></script>
    <script async="false">
        function sendAuthCodeToServer(authCode) {
            console.log('Auth Code:' + authCode)
        }

        function handleError(err) {
         // Add code to process the authentication error here
        }
        window.XmBindId.processRedirectResponse()
         .then(
             res => { sendAuthCodeToServer(res.code); },
             err => { handleError(err); })
      </script>

</body>