<head>
    <meta name="xm-bind-id-client_id" content="<%= 02ced249.0f4070bc.tid_328e24f4.bindid.io %>">
</head>

<body>
    <h1>Hi <%= name %>!</h1>

    <script src="https://polyfill.io/v3/polyfill.min.js?features=Promise%2CPromise.prototype.finally%2CTextDecoder%2CTextEncoder%2CObject.entries"></script>
    <script src="https://signin.bindid-sandbox.io/bindid-sdk/transmit-bind-id-sdk.js" defer></script>
    <script async="false">

        function sendAuthCodeToServer(authCode) {
           // console.log('Auth Code:' + authCode)
        }

        function handleError(err) {
         // Add code to process the authentication error here
        }
        
        window.XmBindId.processRedirectResponse()
         .then(
             res => { 
                console.log('Auth Code:' + res.code)
                sendAuthCodeToServer(res.code); 
            },
             err => { handleError(err); })
             
      </script>

</body>