<head>
    <meta name="xm-bind-id-client_id" content="<%= process.env.CLIENT_ID %>">
    <meta name="xm-bind-id-redirect_uri" content="https://loginapp-lmartinezj.herokuapp.com/">
</head>

<h1>Login</h1>
<form action="/login" method="POST">
    <div>
        <label for="email">E-Mail</label>
        <input type="email" id="email" name="email" required>
    </div>

    <div>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
    </div>

    <button type="submit" class='xm-bind-id-button'>Login Biometric</button>
</form>
<a href="/register">Register</a>

<script src="https://polyfill.io/v3/polyfill.min.js?features=Promise%2CPromise.prototype.finally%2CTextDecoder%2CTextEncoder%2CObject.entries"></script>
<script src="https://signin.bindid-sandbox.io/bindid-sdk/transmit-bind-id-sdk.js" defer></script>
