<head>
    <meta name="xm-bind-id-client_id" content="<%= process.env.CLIENT_ID %>">
    <!--meta http-equiv="Content-Security-Policy" content="default-src https://loginapp-lmartinezj.herokuapp.com/; script-src 'unsafe-inline'; child-src 'none'; object-src 'none'"-->

</head>

<body>
    
    <h1>Auth Code: <%= authCode %> </h1>
    <form method="post" action="/token">
        <input type="hidden" name="authCode" value="<%= authCode %>">
        <button type="submit" name="button">Request Token</button>
    </form>

    <script src="https://polyfill.io/v3/polyfill.min.js?features=Promise%2CPromise.prototype.finally%2CTextDecoder%2CTextEncoder%2CObject.entries"></script>
    <script src="https://signin.bindid-sandbox.io/bindid-sdk/transmit-bind-id-sdk.js"></script>

</body>